footer {
    grid-area: footer;
    padding-top: 3rem;
    padding-bottom: 4rem;
    margin: 0 2rem;
    max-width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #ccc;
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer a:visited {
    color: blue;
  }

  .copyright:hover {
    text-decoration: none;
  }

  /* MEDIA QUERIES */
/* For tablets and smaller screened laptops */
@media only screen and (max-width: 1250px) {

}

/* For mobile phones, in portrait orientation */
@media only screen and (max-width: 600px) {
  footer {
    flex-wrap: wrap;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 4rem .5rem;
    border-top: none;
  }

  footer::before {
    content: '.';
    display: block;
    height: 1px;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    text-indent: -9999px;
    border-top: 1px solid #ccc;
  }

  footer a {
    padding: .5rem .5rem;
  }

  .github-logo-footer {
    display: none;
  }
}

/* For mobile iphones <8, in landscape orientation */
@media only screen
and (min-device-width: 319px)
and (max-device-width: 668px)
and (orientation: landscape)
and (-webkit-device-pixel-ratio: 2) {
  
}

/* For mobile iphones >X, in landscape orientation */
@media only screen
and (min-device-width: 669px)
and (max-device-width: 820px)
and (orientation: landscape)
and (-webkit-device-pixel-ratio: 3) {
  
}

/* Samsung S5 and Moto G4 landscape oriented styles */
@media only screen
and (min-device-width: 360px)
and (max-device-height: 640px)
and (orientation: landscape)
and (-webkit-device-pixel-ratio: 3) {

}
