.layout {
  display: grid;
  row-gap: 3rem;
  grid-template-areas:
  "header header header header"
  "profile info info info"
  "footer footer footer footer";
}

.header {
  grid-area: header;
  background-color: var(--header-color);
  padding: .5rem 2rem;
}

nav {
  width: 100vw;
  display: flex;
}

.container {
  margin: 0 auto;
  width: 95vw;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.responsive-nav-header {
  width: 100%;
  flex-basis: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

.menu-btn {
  position: relative;
  margin-top: .45rem;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 3;
}

.menu-btn-lines,
.menu-btn-lines::before,
.menu-btn-lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: white;
  transition: all 500ms ease-in-out;
}

.menu-btn-lines::before,
.menu-btn-lines::after {
  content: "";
  position: absolute;
}

.menu-btn-lines::before {
  transform: translateY(-.5rem);
}

.menu-btn-lines::after {
  transform: translateY(.5rem);
}

.menu-btn.open .menu-btn-lines {
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-btn.open .menu-btn-lines::before {
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-btn.open .menu-btn-lines::after {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-content {
  display: flex;
}

.search-form,
.search-repository-form {
  margin-top: .35rem;
  position: relative;
}

.search-form {
  margin-top: .6rem;
}

.search-form::after {
  content: "/";
  color: grey;
  border: grey solid 1px;
  font-size: .8rem;
  font-weight: lighter;
  padding: .14rem .38rem;
  border-radius: 5px;
  position: absolute;
  top: 13%;
  right: 9%;
}

.search-form-input {
  border-radius: 5px;
  margin: auto 1rem;
  height: 1.9rem;
  max-height: 32px;
  width: 16rem;
  background-color: var(--header-color);
  border: grey solid 1px;
  padding: .2rem .75rem;
  color: #cacaca;
  transition: 500ms;
}

.search-form-input:focus {
  outline: none;
  width: 22vw;
}

.search-repository-input:focus {
  outline: none;
  width: 70vw;
}

.search-form-input input::placeholder {
  color: #cacaca;
}

.search-repository-form input::placeholder {
  color: #aaa;
}

.nav-content a {
  color: white;
  height: 1.8;
  margin: auto .45rem;
  text-decoration: none;
}

.nav-content a:hover {
  opacity: .7;
}

.nav-content a:first-of-type {
  margin-left: 0rem;
}

.nav-profile {
  position: relative;
  display: flex;
}

.nav-profile div {
  margin: auto .45rem;
}

.repo-count {
  font-weight: bold;
  color: #777;
  border-radius: 15px;
  background-color: #cacaca;
  padding: .2rem .5rem;
}

/* just in case you want to add dropdown stylings */
.nav-profile-dropdown-button {

}

.nav-profile-dropdown-button > * {
  margin: auto -.25rem;
}

.nav-profile-icons > * {
  margin: auto -.1rem;
}

.notification::after {
  content: "";
  height: 10px;
  width: 10px;
  background: rgb(37,150,190);
  background: linear-gradient(180deg, rgba(37,150,190,1) 0%, rgba(51,120,224,1) 100%);
  position: absolute;
  border-radius: 15px;
  left: 12%;
}

.profile-section {
  grid-area: profile;
  min-height: 100vh;
}

.profile-card {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

.profile-image {
  position: relative;
  z-index: 2;
  margin-bottom: .5rem;
  border-radius: 50%;
}

.profile-pic {
  max-height: 250px;
  max-width: 250px;
  border-radius: 50%;
}

.mini-profile-pic {
  max-height: 24px;
  max-width: 24px;
  border-radius: 50%;
}

.happy-face {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  border: grey solid 1px;
  background-color: white;;
  padding: .42rem;
  bottom: 16%;
  right: 6%;
  z-index: 3;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info > h2,
.profile-info > h3 {
  margin: 0;
}

.profile-info > h3 {
  font-size: 1rem;
  font-weight: 300;
  color: grey;
  margin-top: .15rem;
}

.profile-info > p {
  margin-top: 1em;
  font-weight: 300;
  overflow-wrap: break-word;
}

.responsive-bio {
  display: none;
}

.edit-profile-button {
  display: none;
}

.content-section {
  color: #8b949e;
  margin-left: 2rem;
  grid-area: info;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.horizontal-line-full-page {
  border: solid 1px #eee;
  width: 200vw;
  color: #cacaca;
  height: 1px;
  margin-left: -50%;
  margin-top: 0;
}

.search-repository-form {
  max-width: 70vw;
  padding-top: .2rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #eee;
}

.search-repository-input {
  width: 100%;
  padding: .45rem .5rem;
  border: #ccc solid 1px;
  border-radius: 5px;
}

.results-message {
  padding-bottom: 1.15rem;
  width: 70vw;
  color: var(--base-font-color);
  border-bottom: solid 1px #eee;
  margin: 0;
}

.bold-style {
  font-weight: bold;
}

.content-section-links-row {
  display: flex;
  justify-content: start;
}

.content-section-links {
  display: flex;
  flex-direction: column;
  color: var(--base-font-color);
}

.content-link {
  display: flex;
  padding-right: 2rem;
  padding-bottom: .76rem;
  border-bottom: 2px solid transparent;
}

.content-link:hover {
  border-bottom: 2px solid gray;
}

.content-link:target {
  border-bottom: 2px solid #f1826b;
}

.content-link p {
  height: fit-content;
  margin: 0;
  margin-top: .1rem;
  margin-left: .35rem;
}

.content-section-links a {
  color: var(--base-font-color);
  text-decoration: none;
}

.bar-chart-icon {
  transform: rotateX(180deg);
}

.repo {
  border-bottom: 1px #ccc solid;
  padding-left: 0;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  padding-top: .5rem;
  width: 70vw;
  color: #8b949e;
}

.repo-header {
  display: flex;
  justify-content: space-between;
}

.repo-header a {
  color: #59a5f8;
  text-decoration: none;
}

.repo-header a:hover {
  text-decoration: underline;
}

.repo-header a:visited {
  color: #59a5f8;
}

.star-button {
  margin-top: 1.5rem;
  display: flex;
  border: 1px solid gray;
  padding: .4rem .8rem;
  border-radius: 5px;
  height: fit-content;
  transition: 300ms;
}

.star-button:hover {
  border-color: grey;
  opacity: .8;
  background-color: #bbb;
  color: #eee;
}

.star-button:last-child:hover {
  text-decoration: none;
}

.star-button p {
  color: var(--base-font-color);
  margin: 0;
  margin-top: .1rem;
  margin-left: .25rem;
  font-size: 12px;
  font-weight: bold;
  height: fit-content;
}

.repo-description {
  margin: .1rem 0;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
  width: 70ch;
  line-height: 1.25rem;
}

.repo-info {
  display: flex;
  justify-content: flex-start;
}

.repo-info div {
  margin-right: 1.35rem;
}

.repo-info div p {
  margin: 0;
  margin-top: .15rem;
  margin-left: .2rem;
  font-size: .8rem;
}

.language-info,
.star-info,
.fork-info {
  display: flex;
}

.repo-info .language-info div {
  margin-right: .15rem;
}

.language-circle {
  margin-top: .18rem;
  background-color: transparent;
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.awaiting-section {
  width: fit-content;
}

.welcoming-smile {
  text-align: center;
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.awaiting-message {
  font-size: 1.5rem;
  color: var(--base-font-color);
  opacity: .9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.small-message {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.footer {
  grid-area: footer;
}

/* MEDIA QUERIES */
/* For tablets and smaller screened laptops */
@media only screen and (max-width: 1250px) {

}

/* For mobile phones, in portrait orientation */
@media only screen and (max-width: 600px) {
  .layout {
    display: grid;
    row-gap: .5rem;
    grid-template-areas:
    "header"
    "profile"
    "info"
    "footer";
  }
  
  .header {
    padding: 1.25rem;
  }

  .github-logo-header {
    display: none;
  }

  .responsive-nav-header {
    display: flex;
  }

  .notification::after {
    display: none;
  }

  .container {
    width: 100%;
  }

  .menu-btn {
    display: flex;
  }

  .nav-content {
    display: none;
    flex-direction: column;
    justify-content: space-around;
  }

  .nav-content > a, .search-form {
    margin: 0;
    padding: .6rem 0;
    border-bottom: #666 solid 1px;
    width: 80vw;
  }

  .search-form {
    width: 80vw;
    padding: .8rem 0;
  }

  .search-form::after {
    display: none;
  }

  .search-form-input {
    margin: 0;
    height: 1.5rem;
    width: 80vw;
  }

  .nav-content.open {
    display: inline-flex;
  }

  .search-form-input:focus {
    outline: none;
    width: 80vw;
  }
  
  .search-form-input:focus {
    outline: none;
  }

  .nav-profile {
    display: none;
  }

  .profile-section {
    min-height: fit-content;
  }

  .profile-card {
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 90vw;
    margin: .75rem 1rem;
  }

  .profile-info {
    flex-basis: 72%;
    margin-left: 1rem;
  }

  .profile-info > h2 {
    font-size: 1.75rem;
  }

  .profile-info > h3 {
    font-size: 1.5rem;
  }

  .profile-info > p {
    display: none;
  }

  .empty-profile-image {
    display: none;
  }

  .profile-image {
    flex-basis: 75px;
    width: 20vw;
  }

  .responsive-bio {
    display: block;
    flex-basis: 100%;
    font-size: 1.3rem;
    font-weight: 300;
  }

  .edit-profile-button {
    display: block;
    background-color: white;
    border: 1px solid grey;
    margin: 1rem 0;
    margin-bottom: 0;
    width: 100%;
    border-radius: 5px;
    padding: .5rem 0;
    color: var(--base-font-color);
    opacity: .9;
  }

  .edit-profile-button:focus {
    outline: none;
    opacity: .6;
  }

  .happy-face {
    display: none;
  }

  .content-section {
    margin-left: 0;
    min-height: fit-content;
  }

  .awaiting-section {
    max-width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .awaiting-message {
    text-align: center;
  }

  .content-section-links-row {
    padding-left: 1rem;
    width: 100vw;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  }

  .search-repository-form {
    max-width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .search-repository-input:focus {
    min-width: 100%;
  }

  .results-message {
    padding-left: 1rem;
  }

  .repo {
    min-width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem
  }

  .repo-header {
    margin-bottom: -.2rem;
    justify-content: flex-start;
  }

  .repo-title {
    font-size: 1.3rem;
    width: 24ch;
    word-wrap: break-word;
  }

  .star-button {
    margin-top: 1rem;
    margin-left: 2rem;
  }

  .star-button-target-icon {
    display: inline-block;
  }

  .repo-description {
    display: inline-block;
    width: 30ch;
  }

  .star-info {
    display: none;
  }

  .fork-info {
    display: none;
  }
}

/* For mobile iphones <8, in landscape orientation */
@media only screen
and (min-device-width: 319px)
and (max-device-width: 668px)
and (orientation: landscape)
and (-webkit-device-pixel-ratio: 2) {
  
}

/* For mobile iphones >X, in landscape orientation */
@media only screen
and (min-device-width: 669px)
and (max-device-width: 820px)
and (orientation: landscape)
and (-webkit-device-pixel-ratio: 3) {
  
}

/* Samsung S5 and Moto G4 landscape oriented styles */
@media only screen
and (min-device-width: 360px)
and (max-device-height: 640px)
and (orientation: landscape)
and (-webkit-device-pixel-ratio: 3) {

}
