.layout {
  display: grid;
  row-gap: 2rem;
  grid-template-areas:
  "header header header header"
  "profile info info info"
  "footer footer footer footer";
}

.header {
  grid-area: header;
  background-color: var(--header-color);
  padding: .5rem 2rem;
}

nav {
  width: 100vw;
  display: flex;
}

.container {
  margin: 0 auto;
  width: 95vw;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
}

.nav-content {
  display: flex;
}

.search-form {
  margin-top: .35rem;
  position: relative;
}

.search-form::after {
  content: "/";
  color: grey;
  border: grey solid 1px;
  font-size: .8rem;
  font-weight: lighter;
  padding: .14rem .38rem;
  border-radius: 5px;
  position: absolute;
  top: 12%;
  right: 9%;
}

.search-form-input {
  border-radius: 5px;
  margin: auto 1rem;
  height: 1.9rem;
  max-height: 32px;
  width: 16rem;
  background-color: var(--header-color);
  border: grey solid 1px;
  padding: .2rem .75rem;
  color: #cacaca;
}

.search-form-input:focus {
  outline: none;
}

.search-form-input input::placeholder{
  color: #cacaca;
}

.nav-content a {
  color: white;
  height: 1.8;
  margin: auto .45rem;
  text-decoration: none;
}

.nav-content a:hover {
  opacity: .7;
}

.nav-content a:first-of-type {
  margin-left: 0rem;
}

.nav-profile {
  position: relative;
  display: flex;
}

.nav-profile div {
  margin: auto .45rem;
}

.nav-profile-dropdown-button {

}

.nav-profile-dropdown-button > * {
  margin: auto -.25rem;
}

.nav-profile-icons > * {
  margin: auto -.1rem;
}

.notification::after {
  content: "";
  height: 10px;
  width: 10px;
  background: rgb(37,150,190);
  background: linear-gradient(180deg, rgba(37,150,190,1) 0%, rgba(51,120,224,1) 100%);
  position: absolute;
  border-radius: 15px;
  left: 12%;
}

.profile-section {
  grid-area: profile;
  min-height: 100vh;
}

.profile-card {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

.profile-image {
  position: relative;
  z-index: 2;
  margin-left: -1rem;
}

.happy-face {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  border: grey solid 1px;
  background-color: white;;
  padding: .42rem;
  bottom: 16%;
  right: 6%;
}

.profile-card > h2,
.profile-card > h3 {
  margin: 0;
}

.profile-card > h2 {
  font-weight: bold;
}

.profile-card > h3 {
  font-size: 1rem;
  color: grey;
}

.profile-card > p {
  margin-top: 1em;
  font-weight: lighter;
  overflow-wrap: break-word;
}

.content-section {
  color: grey;
  margin-left: 2rem;
  grid-area: info;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.horizontal-line-full-page {
  border: solid 1px #eee;
  width: 200vw;
  color: #cacaca;
  height: 1px;
  margin-left: -50%;
}

.search-repository-form {
  border-bottom: solid 1px #eee;
}

.results-message {
  padding-bottom: 1.5rem;
  width: 20vw;
  color: var(--base-font-color);
  border-bottom: solid 1px #eee;
  margin: 0;
}

span {
  font-weight: bold;
}

.content-section-links-row {
  display: flex;
  justify-content: start;
}

.content-section-links {
  display: flex;
  flex-direction: column;
  color: var(--base-font-color);
}

.content-link {
  display: flex;
  margin-right: 2rem;
}

.content-section-links a {
  color: var(--base-font-color);
  text-decoration: none;
}

.bar-chart-icon {
  transform: rotateX(180deg);
}

.repo {
  border-bottom: 1px #ccc solid;
  padding-bottom: 2rem;
  width: 70vw;
}

.repo-header {
  display: flex;
  justify-content: space-between;
}

.repo-header a {
  text-decoration: none;
}

.repo-header a:hover {
  text-decoration: underline;
}

.repo-header a:visited {
  color: blue;
}

.star-button {
  display: flex;
  border: 1px solid gray;
  padding: .4rem 1rem;
  border-radius: 15px;
  height: fit-content;
}

.star-button p {
  margin: 0;
  height: fit-content;
}

.repo-description {
  margin: .5rem 0;
  margin-bottom: 1.8rem;
  overflow-wrap: break-word;
}

.repo-info {
  display: flex;
  justify-content: flex-start;
}

.repo-info div {
  margin-right: 1.5rem;
}

.repo-info div p {
  margin: 0;;
}

.language-info,
.star-info,
.fork-info {
  display: flex;
}

.footer {
  grid-area: footer;
}
