@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
:root {
  --header-color: #25282d;
  --base-font-color: #25282d;
  --link-font-color: #3264cc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
